<sd-switch>
  <switch recipe="org.knaw.huc.sdswitch.recipe.DreamFactoryRecipe" url-pattern="/raa/{table}">
    <type>postgres</type>
    <base-url>http://n-195-169-89-123.diginfra.net:8888</base-url>
    <api-key>823125db5e6776687eb50150b47945642d12341fa072286a4174db44cc9ab637</api-key>
  </switch>
  <switch recipe="org.knaw.huc.sdswitch.recipe.DreamFactoryRecipe" url-pattern="/raa/{table}/{id}">
    <type>postgres</type>
    <base-url>http://n-195-169-89-123.diginfra.net:8888</base-url>
    <api-key>823125db5e6776687eb50150b47945642d12341fa072286a4174db44cc9ab637</api-key>
    <related>academische_titel_by_academischetitel_id,adellijke_titel_by_adellijketitel_id</related>
  </switch>
  <switch recipe="org.knaw.huc.sdswitch.recipe.DreamFactoryRecipe" url-pattern="/ttl/raa/{table}/{id}">
    <type>postgres</type>
    <base-url>http://n-195-169-89-123.diginfra.net:8888</base-url>
    <api-key>823125db5e6776687eb50150b47945642d12341fa072286a4174db44cc9ab637</api-key>
    <related>academische_titel_by_academischetitel_id,adellijke_titel_by_adellijketitel_id</related>
    <json-or-ttl>ttl</json-or-ttl>
  </switch>
</sd-switch>