<sd-recipe>
  <aanstelling>
    <related>persoon_by_persoon_id,functie_by_functie_id,instelling_by_instelling_id,regio_by_regio_id,provincie_by_provincie_id,lokaal_by_lokaal_id,stand_by_stand_id</related>
  </aanstelling>
  <alias>
    <related>persoon_by_persoon_id</related>
  </alias>
  <bron_details>
    <related>bron_by_bron_id,persoon_by_persoon_id</related>
  </bron_details>
  <persoon>
    <related>academische_titel_by_academischetitel_id,adellijke_titel_by_adellijketitel_id</related>
  </persoon>
</sd-recipe>